@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family:'idroid' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

    :root{
        --cor01: #c5ebd6;
        --cor02: #83e1ad;
        --cor03: #3ddc84;
        --cor04: #2fa866;
        --cor05: #063d1e;

        --font-destaque: 'Bebas Neue', cursive;
        --font-padrao: 'Arial', Helvetica, sans-serif;
        --font-android: 'idroid';
    }

    *{
        margin: 0px;
        padding: 0px; 
    }

    body{
       background-color: var(--cor01);
       font-family: var(--font-padrao);
       
    }

    header{
        background-image: linear-gradient(to bottom, var(--cor03) 30%, var(--cor04));
    }
    
    header > h1{
        font-family: var(--font-destaque);
        color: white;
        font-weight: normal;
        text-align: center;
    }

    header > p{
        color: white;
        text-align: center;
    }

    nav{
        background-color: var(--cor05);
    }

    nav > a{
        font-family: var(--font-padrao);
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    main{
        padding: 20px;
        background-color: white;
        min-width: 320px;
        max-width: 1000px;
        margin: auto;
        margin-bottom:30px ;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    main img{
        width: 100%;
    }

    main img.pequena{
        width: 50%;
        display: block;
        margin: auto;
    }

    main h1{
        font-family: var(--font-android);
        color: var(--cor05);
    }

    main h2{
        font-family: var(--font-android);
        color: var(--cor05);
    }

    main ul{
        margin: 30px;
    }

    footer{
        background-color: var(--cor05);
        color: white;
    }